.requisition-error {
  background: $brand-danger !important;
}

#batch-approval-form {
    max-width: none;
}

.batch-requisition-pane {
    @extend .page;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;

    .breadcrumb {
        margin: 0px;
        border-bottom-width: 0px;
    }

    h2 {
        padding: $space-size 0px;
        margin: 0px $space-size $space-size/2;
        border-bottom: 1px $border-color solid;
    }

    #batch-approval-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        margin:0px 20px;
        
        > * {
            flex: 0 0 auto;
        }

        > .openlmis-table-pane {
            flex-grow: 1;
        }
    }

    .openlmis-toolbar {
        position: static;
        margin: 0px;
        padding: $space-size/2 $space-size;
    }
}
