
<div class="batch-requisition-pane pane" >
    <openlmis-breadcrumbs></openlmis-breadcrumbs>
    <h2>{{'requisitionBatchApproval.approveRequisitions' | message}}</h2>
    <p class="alert is-error" ng-if="vm.areRequisitionsOutdated();">
        {{ 'requisitionBatchApproval.outdated' | message}}
        <button ng-click="vm.updateRequisitions();">{{ 'requisitionBatchApproval.update' | message }}</button>
    </p>
    <form id="batch-approval-form" ng-submit="vm.approve()">
        <saving-indicator class="requisition-indicator" object="vm.requisitions"/>
        <div class="openlmis-table-pane">
            <table>
                <thead>
                    <tr>
                        <th class="col-sticky" colspan="2">
                          {{'requisitionBatchApproval.product' | message}}
                        </th>
                        <th ng-repeat="requisition in vm.requisitions track by requisition.id"
                            popover="{{requisition.$error}}"
                            colspan="2"
                            ng-class="{'requisition-error': requisition.$error,
                                       'is-hidden': !(requisition)}">
                            {{requisition.facilityName}} - {{requisition.periodName}}
                        </th>
                        <th class="col-sticky col-sticky-right" colspan="2">{{'requisitionBatchApproval.totalForAllFacilities' | message}}</th>
                    </tr>
                    <tr>
                        <th class="col-sticky" >{{'requisitionBatchApproval.code' | message}}</th>
                        <th class="col-sticky" >{{'requisitionBatchApproval.name' | message}}</th>
                        <th ng-repeat-start="requisition in ::vm.requisitions track by requisition.id"
                            ng-class="{'requisition-error': requisition.$error}">
                            {{'requisitionBatchApproval.approvedQuantity' | message}}
                        </th>
                        <th ng-repeat-end
                            ng-class="{'requisition-error': requisition.$error}">
                            {{'requisitionBatchApproval.cost' | message}}
                        </th>
                        <th class="col-sticky col-sticky-right" >{{'requisitionBatchApproval.quantity' | message}}</th>
                        <th class="col-sticky col-sticky-right" >{{'requisitionBatchApproval.cost' | message}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.productsToDisplay">
                        <td class="col-sticky"> {{product.code}} </td>
                        <td class="col-sticky requisition-product-grid-cell"><div class="collapsable">{{product.name}}</div></td>
                        <td ng-repeat-start="requisition in vm.requisitions" class="numeric">
                            <div ng-if="(product.requisitions | contains: requisition.id) && !(vm.lineItems[requisition.id][product.productId].skipped)"
                                class="input-control" input-control openlmis-invalid>
                                <input positive-integer required validate-requisition="requisition" product-id="product.productId"
                                    ng-model="vm.lineItems[requisition.id][product.productId].approvedQuantity"
                                    ng-change="vm.updateLineItem(vm.lineItems[requisition.id][product.productId], requisition)"/>
                            </div>
                            <p ng-if="vm.lineItems[requisition.id][product.productId].skipped">
                                {{'requisitionBatchApproval.skipped' | message}}
                            </p>
                        </td>
                        <td class="numeric" ng-repeat-end>
                            {{vm.lineItems[requisition.id][product.productId].totalCost | openlmisCurrency}}
                        </td>
                        <td class="total-cell numeric col-sticky col-sticky-right"> {{product.totalQuantity}} </td>
                        <td class="total-cell numeric col-sticky col-sticky-right"> {{product.totalCost | openlmisCurrency}} </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="total-row">
                        <th class="col-sticky">{{'requisitionBatchApproval.total' | message}}</th>
                        <th class="col-sticky"></th>
                        <th ng-repeat-start="requisition in vm.requisitions track by requisition.id">
                        </th>
                        <th class="numeric" ng-repeat-end>
                            {{requisition.$totalCost | openlmisCurrency}}
                        </th>
                        <th class="col-sticky col-sticky-right"></th>
                        <th class="col-sticky col-sticky-right numeric"> {{vm.totalCost | openlmisCurrency}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
    <div class="openlmis-toolbar button-group" ng-if="vm.requisitions.length">
        <button ng-disabled="vm.isOffline()" ng-click="vm.sync()">{{'requisitionBatchApproval.sync' | message}}</button>
        <div class="button-group primary">
            <button class="primary" ng-disabled="vm.isOffline()" form="batch-approval-form" type="submit">{{'requisitionBatchApproval.approve' | message}}</button>
            <button class="danger" ng-click="vm.revert()">{{'requisitionBatchApproval.revert' | message}}</button>
        </div>
    </div>
</div>
