.requisition-error {
  background: $brand-danger !important;
}

#batch-approval-form {
    max-width: none;
}

.batch-requisition-pane {
    @extend .page;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;

    > * {
        margin: 0px;
    }

    .breadcrumb {
        margin: 0px;
        padding: $space-size/4 $space-size;
        border-bottom-width: 0px;
    }

    h2 {
        padding: 0px 0px 10px;
        margin: $space-size/2 $space-size;
        border-bottom: 1px $border-color solid;
    }

    #batch-approval-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        > * {
            flex: 0 0 auto;
        }
        > .openlmis-table-pane {
            flex-grow: 1;
        }

        > .openlmis-table-pane {
            margin: 0px;
        }
    }

    .openlmis-toolbar {
        position: static;
        margin: 0px;
        padding: $space-size/2 $space-size;
    }

    .openlmis-table-pane table td .collapsable,
    .openlmis-table-pane table th .collapsable {
        max-width: unset;
        width: auto;
        white-space: nowrap;
    }
}
