th.is-invalid {
  background: $brand-danger !important;
}

.openlmis-table {

    > thead > tr > th {
        &.is-hidden {
            border-bottom-width: 0px !important;
        }
        &.merged-cell-left {
            border-left-width: 0px !important;
        }
        &.merged-cell-right {
            border-right-width: 0px !important;
        }
        padding-right: 10px;
    }

    > thead > tr:first-child > th {
        background: lighten($dark-gray, 15%);
    }

    td.numeric {
        text-align: right;
    }

    td.total-cell,
    tr.total-row > th,
    tr:nth-child(2n+1) > td.total-cell {
        background-color: $light-gray;
        color: $black;
    }

    tr:nth-child(2n) > td.total-cell {
        background-color: $background-color-alt;
    }

    tr.total-row > th {
        font-weight: bold;
    }

    tr.is-invalid {
        td.total-cell {
            background-color: $background-color-danger;
        }
    }
}

form.openlmis-table-container {
    max-width: none;
}
