.add-product-modal {
    form {
        max-width: none;
    }

    .modal-footer > * {
        width: 100%
    }

    .modal-footer > * > button {
        margin: 0;
    }

    .add-product-table {
      min-width: 100%;
      width: 100%;
    }
}
