<form ng-submit="vm.addProduct()">
	<div class="form-group">
		<label for="category">{{'requisitionNonFullSupply.category' | message}}</label>
		<select class="form-control"
			ng-model="vm.selectedCategory"
			ng-disabled="!vm.categories.length"
			ng-options="category.name for category in vm.categories | filter:vm.categoryVisible"
			required>
		</select>
	</div>
	<div class="form-group">
		<label for="product">{{'requisitionNonFullSupply.product' | message}}</label>
		<select class="form-control"
			ng-model="vm.selectedProduct"
			ng-disabled="!vm.selectedCategory"
			ng-options="product.fullProductName for product in vm.selectedCategory.products | filter:vm.productVisible"
			required>
		</select>
	</div>
	<div class="form-group">
		<label for="requestedQuantity">{{'requisitionNonFullSupply.quantity' | message}}</label>
		<input class="form-control" type="number" ng-model="vm.requestedQuantity" required positive-integer>
	</div>
	<div class="form-group">
		<label for="requestedQuantity">{{'requisitionNonFullSupply.explanation' | message}}</label>
		<input type="text"
			ng-model="vm.requestedQuantityExplanation"
			ng-required="vm.requestedQuantity">
	</div>
	<div class="button-group">
		<input type="submit" value="{{'requisitionNonFullSupply.addProduct' | message}}" />
		<button type="button" data-dismiss="modal" class="cancel">{{'requisitionNonFullSupply.cancel' | message}}</button>
	</div>
</form>
