<form class="add-product-modal" ng-submit="vm.addProduct()">
	<fieldset class="form-group">
		<label for="category">{{'requisitionNonFullSupply.category' | message}}</label>
		<select id="category"
            ng-model="vm.selectedCategory"
			ng-disabled="!vm.categories.length"
			ng-options="category.name for category in vm.categories | filter:vm.categoryVisible"
			required>
		</select>
	</fieldset>
	<fieldset class="form-group">
		<label for="product">{{'requisitionNonFullSupply.product' | message}}</label>
		<select id="product"
            ng-model="vm.selectedProduct"
			ng-disabled="!vm.selectedCategory"
			ng-options="product.fullProductName for product in vm.selectedCategory.products | filter:vm.productVisible"
			required>
		</select>
	</fieldset>
	<fieldset class="form-group">
		<label for="requestedQuantity">{{'requisitionNonFullSupply.quantity' | message}}</label>
		<input id="requestedQuantity"
            ng-model="vm.requestedQuantity" required positive-integer>
	</fieldset>
	<fieldset class="form-group">
		<label for="requestedQuantityExplanation">{{'requisitionNonFullSupply.explanation' | message}}</label>
		<input id="requestedQuantityExplanation"
            type="text"
			ng-model="vm.requestedQuantityExplanation"
			ng-required="vm.requestedQuantity">
	</fieldset>
	<div class="button-group">
		<input type="submit" value="{{'requisitionNonFullSupply.addProduct' | message}}"/>
		<button type="button" data-dismiss="modal" class="cancel">{{'requisitionNonFullSupply.cancel' | message}}</button>
	</div>
</form>
