<div class="openlmis-table-container">
	<h4 ng-show="vm.areSkipControlsVisible()">{{'requisitionFullSupply.skip' | message}}</h4>
	<ul ng-show="vm.areSkipControlsVisible()">
		<li><a ng-click="vm.skipAll()">{{'requisitionFullSupply.all' | message}}</a></li>
		<li><a ng-click="vm.unskipAll()">{{'requisitionFullSupply.none' | message}}</a></li>
	</ul>
	<saving-indicator  ng-show="vm.canEditRequisition()" class="requisition-indicator" object="vm.requisition.requisitionLineItems"/>
	<table>
		<thead>
			<tr>
				<th class="col-{{column.name}}" ng-repeat="column in vm.columns | orderBy : 'displayOrder'" ng-class="{'col-sticky': !column.$canChangeOrder}" popover="{{column.definition}}" popover-trigger-area="element">{{column.label}}
				</th>
			</tr>
		</thead>
		<tbody tbody-title="{{category}}" ng-repeat="(category, lineItems) in vm.items | groupBy:'$program.orderableCategoryDisplayName'">
			<tr ng-class="{'skipped-line-item' : lineItem.skipped}"
				ng-repeat="lineItem in lineItems | orderBy : '$program.displayOrder'">
				{{lineItem}}
				<td ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
					 product-grid-cell
					 requisition="vm.requisition"
					 column="column"
					 line-item="lineItem" ></td>
			</tr>
		</tbody>
	</table>
	<openlmis-pagination
		list="vm.lineItems"
		paged-list="vm.items"/>
</div>
