<form class="settingsForm" id="prograSettings" ng-submit="vm.saveProgram()">
    <fieldset class="form-group">
        <label>
            <i ng-class="{'icon-ok': vm.program.active, 'icon-remove': !vm.program.active}"></i>
            {{vm.program.active ? 'adminProgramSettings.programIsActive' : 'adminProgramSettings.programIsNotActive'| message}}
        </label>
    </fieldset>
    <fieldset class="form-group">
        <label for="name">{{'adminProgramSettings.programName' | message}}</label>
        <input id="name" class="form-control" ng-model="vm.program.name" required/>
    </fieldset>
    <fieldset class="form-group">
        <label for="code">{{'adminProgramSettings.programCode' | message}}</label>
        <input id="code" class="form-control" ng-model="vm.program.code" required disabled/>
    </fieldset>
    <fieldset class="form-group">
        <label for="description">{{'adminProgramSettings.description' | message}}</label>
        <textarea id="description" ng-model="vm.program.description"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label class="checkbox">
           <input type="checkbox" ng-model="vm.program.showNonFullSupplyTab"/>
           {{'adminProgramSettings.displayNonFullSupply.label' | message}}
        </label>
        <p class="note">{{'adminProgramSettings.displayNonFullSupply.description' | message}}</p>
    </fieldset>
    <fieldset class="form-group">
        <label class="checkbox">
           <input type="checkbox" ng-model="vm.program.periodsSkippable"/>
           {{'adminProgramSettings.allowSkippingPeriods.label' | message}}
        </label>
        <p class="note">{{'adminProgramSettings.allowSkippingPeriods.description' | message}}</p>
    </fieldset>
    <fieldset class="form-group">
        <label class="checkbox">
           <input type="checkbox" ng-model="vm.program.enableDatePhysicalStockCountCompleted"/>
           {{'adminProgramSettings.enableDatePhysicalStockCountCompleted.label' | message}}
        </label>
        <p class="note">{{'adminProgramSettings.enableDatePhysicalStockCountCompleted.description' | message}}</p>
    </fieldset>
    <div class="button-group">
        <button class="primary" type="submit">{{'adminProgramSettings.save' | message}}</button>
        <button ui-sref="openlmis.administration.programs">{{'adminProgramSettings.cancel' | message}}</button>
    </div>
</form>
