<h2>{{'requisitionConvertToOrder.convertRequisitionsToOrder' | message}}</h2>
<section class="openlmis-table-container">
	<form ng-submit="vm.search()">
		<label for="searchFor">{{'requisitionConvertToOrder.search' | message}}</label>
		<input id="searchFor" type="text" ng-model="vm.filterValue"
			   maxlength="50" aria-labelledby="filtersInfo"/>
		<p class="filters-info" id="filtersInfo">{{'requisitionConvertToOrder.searchInfo' | message}}</p>
		<input type="submit" value="{{'requisitionConvertToOrder.search' | message}}"/>
	</form>
	<table>
		<caption ng-if="vm.infoMessage">{{vm.infoMessage | message}}</caption>
		<thead>
			<tr>
				<th class="col-sticky">
					<input type="checkbox" ng-model="vm.selectAll"
						   ng-change="vm.toggleSelectAll(vm.selectAll)">
				</th>
				<th>{{'requisitionConvertToOrder.program' | message}}</th>
				<th>{{'requisitionConvertToOrder.facility' | message}}</th>
				<th>{{'requisitionConvertToOrder.districtName' | message}}</th>
				<th>{{'requisitionConvertToOrder.period' | message}}</th>
				<th>{{'requisitionConvertToOrder.startDate' | message}}</th>
				<th>{{'requisitionConvertToOrder.endDate' | message}}</th>
				<th>{{'requisitionConvertToOrder.dateApproved' | message}}</th>
				<th>{{'requisitionConvertToOrder.emergency' | message}}</th>
                <th class="col-sticky sticky-right">{{'requisitionConvertToOrder.supplyingDepot' | message}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.requisitions">
				<td>
					<input type="checkbox" ng-model="item.$selected"
						   ng-change="vm.setSelectAll()">
				</td>
				<td>{{item.requisition.program.name}}</td>
				<td>{{item.requisition.facility.code}} - {{item.requisition.facility.name}}</td>
				<td>{{item.requisition.facility.geographicZone.parent.name}}</td>
				<td>{{item.requisition.processingPeriod.name}}</td>
				<td>{{item.requisition.processingPeriod.startDate | openlmisDate}}</td>
				<td>{{item.requisition.processingPeriod.endDate | openlmisDate}}</td>
				<td>{{item.requisition.statusChanges.APPROVED.changeDate | openlmisDate}}</td>
				<td class="col-emergency">
					<i ng-class="{'icon-ok': item.requisition.emergency}"></i>
				</td>
                <td>
					<select ng-model="item.requisition.supplyingFacility"
							ng-options="depot.id as depot.name for depot in item.supplyingDepots">
						<option ng-value="" ng-if="!item.requisition.supplyingFacility">
							{{'label.select.none' | message}}
						</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	<openlmis-pagination/>
</section>
<div class="openlmis-toolbar" ng-if="vm.requisitions.length">
	<button class="primary" ng-click="vm.convertToOrder()">{{'requisitionConvertToOrder.convertToOrder.label' | message}}</button>
</div>
