<div class="modal user-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" ng-if="vm.requisition.$isSubmitted()">
                        {{'requisitionView.authorizeRequisition' | message}}
                    </h4>
                    <h4 class="modal-title" ng-if="!vm.requisition.$isSubmitted()">
                        {{'requisitionView.submitRequisition' | message}}
                    </h4>

                </div>
                <div class="modal-body">
                    <form id="addDateForm" name="addDateForm" class="user-form" ng-submit="vm.submit()">
                        <label for="date">{{'requisitionView.datePhysicalStockCountCompleted' | message}}</label>
                        <input id="date" type="date" ng-model="vm.datePhysicalStockCountCompleted" required
                            openlmis-invalid="{{vm.validateDate() | message}}"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="$hide()">{{'requisitionView.cancel' | message}}</button>
                    <button class="primary" ng-if="!vm.requisition.$isSubmitted()" form="addDateForm" type="submit">
                        {{'requisitionView.submit.label'| message}}
                    </button>
                    <button class="primary" ng-if="vm.requisition.$isSubmitted()" form="addDateForm" type="submit">
                        {{'requisitionView.authorize.label'| message}}
                    </button>
                </div>
        </div>
    </div>
</div>
