<header>
    <h2>{{'requisitionView.reportAndRequisitionFor' | message}} {{vm.requisition.program.name}} ({{vm.requisition.facility.type.name}})</h2>
    <button ng-if="!vm.isOffline()" ng-click="vm.syncRnrAndPrint()" class="primary">{{'requisitionView.print' | message}}</button>
</header>
<ng-include src="'requisition-view/header.html'"></ng-include>
<status-messages requisition="vm.requisition"></status-messages>
<nav>
    <ul>
        <li ui-sref-active="active" role="presentation"
            ng-class="{'is-invalid': !vm.isFullSupplyTabValid()}"
            popover="{{vm.invalidFullSupply}}">
            <a ui-sref="openlmis.requisitions.requisition.fullSupply">
                {{'requisitionView.fullSupplyProducts' | message}}
            </a>
        </li>
        <li ui-sref-active="active" ng-if="vm.requisition.program.showNonFullSupplyTab"
            role="presentation" ng-class="{'is-invalid': !vm.isNonFullSupplyTabValid()}"
            popover="{{vm.invalidNonFullSupply}}">
            <a ui-sref="openlmis.requisitions.requisition.nonFullSupply">
                {{'requisitionView.nonFullSupplyProducts' | message}}
            </a>
        </li>
    </ul>
</nav>
<div ui-view=""></div>
<requisition-summary requisition="vm.requisition"></requisition-summary>
<ng-include src="'requisition-view/requisition-toolbar.html'"></ng-include>
