<div class="openlmis-toolbar button-group">
	<button ng-if="vm.canSync" ng-disabled="vm.isOffline()" ng-click="vm.syncRnr()">{{'requisitionView.sync.label' | message}}</button>
    <div class="button-group primary">
	    <button ng-if="vm.canSubmit" class="primary" ng-disabled="vm.isOffline()" ng-click="vm.submitRnr()">{{'requisitionView.submit.label' | message}}</button>
	    <button ng-if="vm.canSubmitAndAuthorize" class="primary" ng-disabled="vm.isOffline()" ng-click="vm.submitRnr()">{{'requisitionView.submitAndAuthorize.label' | message}}</button>
	    <button ng-if="vm.canAuthorize" class="primary" ng-disabled="vm.isOffline()" ng-click="vm.authorizeRnr()">{{'requisitionView.authorize.label' | message}}</button>
	    <button ng-if="vm.canApproveAndReject" class="primary" ng-disabled="vm.isOffline()" ng-click="vm.approveRnr()">{{'requisitionView.approve.label' | message}}</button>
	    <button ng-if="vm.canApproveAndReject" class="danger" ng-disabled="vm.isOffline()" ng-click="vm.rejectRnr()">{{'requisitionView.reject.label' | message}}</button>
	    <button ng-if="vm.canDelete" class="danger" ng-disabled="vm.isOffline()" ng-click="vm.removeRnr()">{{'requisitionView.delete.label' | message}}</button>
	    <button ng-if="vm.canSkip" ng-disabled="vm.isOffline()" ng-click="vm.skipRnr()">{{'requisitionView.skip.label' | message}}</button>
    </div>
</div>
