.status-message {
    @extend .clearfix;

    > header {
        margin-bottom: 1em;
        > .status {
            @extend .title;
            font-weight: bold;
        }

        > .date {
            font-style: italic;
        }
    }

    > .content {
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    & + .status-message {
        margin-top: 1em;
    }
}

.status-message-list {
    padding: 1.5em 0;
}

.info-no-comments {
    font-style: italic;
}
